.login-div{
    width: 80%;
    margin: auto;
    font-family: nova-medium;
  }
  
  .login-form{
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  
  .login-h3{
    padding: 20px;
  }

  .campo-invalido{
    display: none;
    color: #ff0505;
  }